@model BankOfSimba.Models.BankAccount

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <p>@Model.Name @Model.Balance Zebra @Model.AnimalType</p>
</body>
</html>