<!DOCTYPE html>

<html>
<head>
    <title>Fox Club</title>
</head>
<body>
<ul>
    <li>Information</li>
</ul>
<img src="assets/greenfox.png" alt="Green Fox logo">
<p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
<h1>Known Tricks</h1>
<ul>
    <li>Write HTML</li>
    <li>Code in Java</li>
</ul>
</body>
</html>