<!DOCTYPE html>

<html>
<head>
    <title>Fox Club</title>
    <link rel="stylesheet" type="text/css" href="styles/BaseStyle.css">
</head>
<body>
<section>
    <div class="">
    <h1>Welcome to Programmer Fox Club</h1>
    <p>Please provide a name so that you can associate it to your pet!</p>
    <form method="post" action="">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Go">
    </form>
    <a href="/">Home</a><br/>
    <a href="store">Store</a><br/>
    <a href="trick">Trick Center</a>
    </div>
</section>
</body>
</html>