<!DOCTYPE html>

<html>
<head>
    <title>Fox Club</title>
</head>
<body>
<ul>
    <li><a href="index">Information</a></li>
    <li><a href="store">Nutrition Store</a></li>
    <li><a href="trick">Trick Center</a></li>
    <li><a href="#">Action History</a></li>
</ul>
<form method="post" action="trick">
    <label for="trick">Tricks:</label>
    <select id="trick" name="trick">
        <option value="c#">C#</option>
        <option value="java">Java</option>
        <option value="javascript">JavaScript</option>
        <option value="ruby">Ruby</option>
        <option value="python">Python</option>
    </select>
    <input type="submit" value="Learn">
</form>

<a href="/">Home</a><br/>
<a href="login">Login</a>
</body>
</html>