<!DOCTYPE html>

<html>
<head>
    <title>Fox Club</title>
    <link rel="stylesheet" type="text/css" href="styles/BaseStyle.css">
</head>
<body>
<section>
    <div class="">
    <ul>
        <li><a href="/">Information</a></li>
        <li><a href="store">Nutrition Store</a></li>
        <li><a href="trick">Trick Center</a></li>
        <li><a href="#">Action History</a></li>
    </ul>
    <form method="post" action="learn">
        <label for="trick">Tricks:</label>
        <select id="trick" name="trick">
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Ruby">Ruby</option>
            <option value="Python">Python</option>
        </select>
        <input type="submit" value="Learn">
    </form>
    </div>
</section>
</body>
</html>