@page
@model UsefulUtilitiesDependencyInjection.Views.Home.Caesar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="Caesar.cshtml">Try Caesar!</a>
</div>
</body>
</html>