@model UsefulUtilitiesDependencyInjection.ViewModel.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <style>
        body {
            background-color: @Model.Color;
        }
    </style>
</head>
<body>
<div>
    <form>
        
    </form>
</div>
</body>
</html>