@model URLAliaser.ViewModels.LinkViewModel

<html>
<head>
    <title>Error Message</title>
</head>
<body>

<p>Your alias is already in use! Please choose a different one.</p>

@Html.ActionLink("Home", "Index", "Home")
</body>
</html>