<html>
<head>
    <title>URL Aliaser</title>
</head>
<body>
<h1>Submit URL</h1>
<form method="post" action="save-link">
    <label for="url">URL:</label>
    <input type="text" id="url" name="LinkURL"><br/>
    <label for="alias">Alias:</label>
    <input type="text" id="alias" name="Alias"><br/>
    <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>