@model URLAliaser.ViewModels.LinkViewModel

<html>
<head>
    <title>URL Aliaser</title>
</head>
<body>
<h1>Submit URL</h1>
<p>Your URL is aliased to @Model.Link.Alias and your secret code is @Model.Link.SecretCode.</p>
</body>
</html>