<!DOCTYPE html>
<html>
<head>
    <title>Lucie's Web Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <a href="/home"><h1>Lucie's Web Shop</h1></a>
    <hr>
    <nav class="navbar-buttons">
        <ul>
            <div class="all-links">
                <li>
                    <form action="only-available" method="get">
                        <button class="buttons-filtering">ONLY AVAILABLE</button>
                    </form>
                </li>
                <li>
                    <form action="cheapest-first">
                        <button class="buttons-filtering">CHEAPEST FIRST</button>
                    </form>
                </li>
                <li>
                    <form action="contains-corgi">
                        <button class="buttons-filtering">CONTAINS CORGI</button>
                    </form>
                </li>
                <li>
                    <form action="average-stock">
                        <button class="buttons-filtering">AVERAGE STOCK</button>
                    </form>
                </li>
                <li>
                    <form action="most-expensive-available">
                        <button class="buttons-filtering">MOST EXPENSIVE AVAILABLE</button>
                    </form>
                </li>
            </div>
        </ul>
    </nav>
</header>
@RenderBody()

</body>
</html>